
<div class="flex gap-2 h-full">
  <div class="mat-elevation-z8 w-3/4">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Ağırlık </th>
        <td mat-cell *matCellDef="let element; let i = index" class="flex items-center min-h-14">
          {{ element.weight }} Kg
          <mat-icon *ngIf="isWeightIncreased(element, i)" class="ml-2 text-green-500">arrow_upward</mat-icon>
          <mat-icon *ngIf="isWeightdecrease(element, i)" class="ml-2 text-red-500">arrow_downward</mat-icon>
        </td>
        <!-- <td mat-cell *matCellDef="let element"> {{element.weight}} </td> -->
      </ng-container>
  
      <ng-container matColumnDef="controlDate">
        <th mat-header-cell *matHeaderCellDef> Kontrol Tarihi </th>
        <td mat-cell *matCellDef="let element" class="min-h-14 max-h-14"> {{ formatDate(element.controlDate) }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #paginator
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <div class="mat-elevation-z8 w-1/4 h-full">
    <mat-card class="h-full justify-around">
      <mat-card-header>
        <mat-card-title>Kilo Takibi</mat-card-title>
        <mat-card-subtitle>Ölçümü kaydet</mat-card-subtitle>
      </mat-card-header>
      <mat-form-field class="p-4">
        <input type="number" matInput name="weight" [(ngModel)]="weight" />
        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:receipt-tax'"></mat-icon>
      </mat-form-field>
      <mat-card-actions >
        <button  mat-flat-button [color]="'primary'" (click)="updateWeight()" class="w-full">Kaydet</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

