# Never commit a populated copy of this file.
SUPABASE_ACCESS_TOKEN=
ODIVON_MANAGEMENT_PROJECT_REF=bchqsyqimcudbybdovjx
ODIVON_ORGANIZATION_SLUG=
ODIVON_SUPABASE_REGION=eu-central-1
ODIVON_APP_ORIGIN=https://vet.odivon.com
ODIVON_WORKER_TOKEN=
ODIVON_CLINIC_WORKER_MASTER=
ODIVON_ACTIVATION_TOKEN=
ODIVON_TURNSTILE_SECRET=
ODIVON_SMTP_HOST=
ODIVON_SMTP_PORT=587
ODIVON_SMTP_USER=
ODIVON_SMTP_PASSWORD=
ODIVON_SMTP_FROM=
ODIVON_ENABLE_PROVISIONING=false
