<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Çiftlik Sihirbazı
                </h2>
            </div>
            <div class="font-medium tracking-tight text-secondary">Çiftlik İşlemlerinde Hızlı ve Rahat Takip sistemi
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- <button
              class="ml-3"
              mat-flat-button
              [color]="'primary'">
              <mat-icon
                  class="icon-size-5 mr-2"
                  [svgIcon]="'heroicons_solid:link'"></mat-icon>
              Yeni Çiftlik
          </button> -->
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow bg-card">
        <!-- CONTENT GOES HERE -->
        <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="horizontalStepperForm">
            <mat-horizontal-stepper [linear]="true" #horizontalStepper>
                <mat-step [formGroupName]="'step1'" [stepControl]="horizontalStepperForm.get('step1')"
                    #horizontalStepperStep1>
                    <ng-template matStepLabel>Çiftlik Bilgileri</ng-template>

                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <input matInput [formControlName]="'farmName'" [placeholder]="'Çiftlik Adı'" required>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto">
                            <textarea matInput [formControlName]="'farmContact'"
                                [placeholder]="'Çiftlik İletişim Bilgisi (ADRES/TELEFON)'" required></textarea>
                        </mat-form-field>
                        <mat-form-field class="flex-auto">
                            <input matInput [formControlName]="'farmRelationship'"
                                [placeholder]="' Çiftlik İle İlişkisi (YÖNETİCİ/VETERİNER/ÇALIŞAN)'" required>
                        </mat-form-field>
                    </div>
                    <div class="flex justify-end">
                        <button class="px-8" mat-flat-button [color]="'primary'"
                            [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                            type="button" matStepperNext>
                            İlerle
                        </button>
                    </div>
                </mat-step>

                <mat-step [formGroupName]="'step2'" [stepControl]="horizontalStepperForm.get('step2')"
                    #horizontalStepperStep2>
                    <ng-template matStepLabel>Çiftlik Sahibi Bilgisi</ng-template>

                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <input matInput [formControlName]="'firstName'" [placeholder]="'İsim'" required>
                            <mat-icon class="icon-size-5" matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pl-3">
                            <input matInput [formControlName]="'lastName'" [placeholder]="'Soyisim'" required>
                            <mat-icon class="icon-size-5" matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field class="flex-auto gt-xs:pl-3">
                            <input matInput [formControlName]="'email'" [placeholder]="'E-Mail'" required>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field class="flex-auto gt-xs:pl-6">
                            <input placeholder="(555) 555-5555"
                                (input)="formatPhoneNumber($event.target.value, 'phoneNumber')" matInput
                                [formControlName]="'phoneNumber'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <textarea matInput [formControlName]="'note'" [placeholder]="'Not'" [rows]="3"></textarea>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex justify-end">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                            Geri
                        </button>
                        <button class="px-8" mat-flat-button [color]="'primary'"
                            [disabled]="horizontalStepperStep2.stepControl.pristine || horizontalStepperStep2.stepControl.invalid"
                            type="button" matStepperNext>
                            İleri
                        </button>
                    </div>
                </mat-step>

                <mat-step [formGroupName]="'step3'" [stepControl]="horizontalStepperForm.get('step3')">
                    <ng-template matStepLabel>Hasta Ekle</ng-template>
                    <button class="ml-3 mr-6" mat-flat-button [color]="'primary'" (click)="addPanelOpen()">
                        <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                        Hasta Ekle
                    </button>
                    <div class="w-full md:w-12/12 lg:w-12/12 p-2" *ngIf="patientDetails && patientDetails.length > 0">
                        <div class="flex flex-wrap gap-4 flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <fuse-card class="flex flex-col max-w-80 w-full p-8 pb-4 filter-article"
                                *ngFor="let patient of patientDetails">
                                <div class="flex items-center">
                                    <img class="w-20 rounded-lg object-cover" src="assets/images/avatars/noimage.jpg"
                                        alt="Card cover image">
                                    <div class="flex flex-col ml-6">
                                        <div class="text-2xl font-semibold leading-tight">Hasta Adı</div>
                                        <div class="text-secondary font-medium text-md">{{patient.name}}</div>
                                    </div>
                                </div>


                                <div class="container" style="margin-top: 1rem; padding: 0;">
                                    <div class="row">
                                        <div class="col-md-6"
                                            style="border-right: 1px solid rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)); display: flex; flex-direction: column; align-items: center; position: relative;">
                                            <div style="font-weight: 600;">
                                                Çip Numarası
                                            </div>
                                            <div
                                                style="font-weight: 500; font-size: 0.8rem; color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)) !important;">
                                                {{patient.chipNumber}}
                                            </div>
                                            <div
                                                style="content: ''; position: absolute; height: 100%; width: 1px; background-color: black; right: 0;">
                                            </div>
                                        </div>
                                        <div class="col-md-6"
                                            style="display: flex; flex-direction: column; align-items: center; justify-content: flex-end; position: relative;">
                                            <div style="font-weight: 600;">
                                                Hasta Tipi
                                            </div>
                                            <div
                                                style="font-weight: 500; font-size: 0.8rem; color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)) !important;">
                                                {{patient.animalType}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex flex-wrap mt-3 -mx-3" style="justify-content: space-between;">
                                    <a class="px-3" mat-button [color]="'warn'" [routerLink]="['./']"
                                        (click)="redirectToDeletePatient(patient.recId)">
                                        Sil
                                    </a>

                                    <a class="px-3" mat-button [color]="'primary'" [routerLink]="['./']"
                                        (click)="redirectToUpdatePatient(patient.recId)">
                                        Düzenle
                                    </a>
                                </div>
                            </fuse-card>
                        </div>
                    </div>
                    <!-- <div class="grid 2xl:grid-cols-9 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 xs:grid-cols-1  p-4 p-6 bg-card shadow rounded-2xl overflow-hidden" style="justify-content: space-between;">
                        <fuse-card class="flex flex-col items-center max-w-80 w-full p-8 filter-info" *ngFor="let item of items">
                            <div class="flex items-center justify-center p-5 rounded-full bg-primary-100 dark:bg-gray-600">
                                <mat-icon
                                    class="icon-size-10 text-primary-500 dark:text-primary-300"
                                    [svgIcon]="'heroicons_outline:support'"></mat-icon>
                            </div>
                            <div class="text-2xl font-semibold leading-tight text-center mt-6">Support</div>
                            <div class="text-center text-secondary mt-3">Contact support to learn more about our products and get professional help</div>
                            <a
                                class="px-6 mt-8"
                                mat-flat-button
                                [color]="'primary'"
                                [routerLink]="['./']">
                                Contact Now
                            </a>
                        </fuse-card>
                    </div> -->


                    <!-- <div class="flex flex-wrap gap-4 flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" style="justify-content: space-between;">
                        <fuse-card class="flex flex-col max-w-80 w-full p-8 pb-4 filter-article" *ngFor="let item of items">
                            <div class="flex items-center">
                                <div class="flex flex-col ml-6">
                                    <div class="text-secondary font-medium text-md">{{ item.title }}</div>
                                </div>
                            </div>
                            
                            <div class="container" style="margin-top: 1rem; padding: 0;">
                                <div class="row">
                                    <div class="col-md-12" style="display: flex; flex-direction: column; align-items: center; position: relative;">
                                        <div style="font-weight: 500; font-size: 0.8rem; color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)) !important;">
                                            {{ item.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fuse-card>
                    </div> -->

                    <!-- <div class="flex flex-col gt-sm:flex-row">
                        <div class="flex flex-col">
                            <mat-grid-list cols="fit" rowHeight="200px">
                                <mat-grid-tile *ngFor="let item of items">
                                  <mat-card>
                                    <mat-card-header>
                                      <mat-card-title>{{ item.title }}</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                      <p>{{ item.description }}</p>
                                    </mat-card-content>
                                  </mat-card>
                                </mat-grid-tile>
                              </mat-grid-list>
                        </div>
                        
                    </div> -->
                    <div class="flex justify-end mt-8">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                            Geri
                        </button>
                        <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                            İleri
                        </button>
                    </div>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Bitir</ng-template>
                    
                    <div class="flex justify-end mt-12">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                            Geri
                        </button>
                        <!-- <button class="px-8" mat-flat-button [color]="'primary'" type="reset"
                            (click)="horizontalStepper.reset();">
                            Sıfırla
                        </button> -->
                        <button class="px-8" mat-flat-button [color]="'primary'" type="button"
                            (click)="saveLayout();">
                            Kaydet
                        </button>
                    </div>
                    <h2 class="px-6 text-xl md:text-2xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-start">
                        {{'GENEL ÖZET'}}
                      </h2>
                    <div  class="bg-default rounded-2xl w-full ">
                        
                        <div class="sm:flex flex-auto gap-3 w-full h-full p-6 mt-6">
                            
                          
                            <div class="sm:flex flex-auto justify-around w-full sm:mt-0 mt-3">
                              <div>
                                <h2 class="px-6 text-l md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
                                  Çiftlik Bilgileri
                                </h2>
                                <table class="min-w-full divide-y">
                                  <thead>
                                    <tr>
                                      <th scope="col" class="font-bold   px-6 py-2 text-left text-md text-gray-500 tracking-wider">Çiftlik Adı:</th>
                                      <td class="text-start px-6 py-3 text-md font-medium text-gray-500 tracking-wider">{{horizontalStepperForm.get('step1.farmName').value}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="font-bold   px-6 py-2 text-left text-md text-gray-500 tracking-wider">Çiftlik İletişim Bilgisi (ADRES/TELEFON):</th>
                                        <td class="text-start px-6 py-3 text-md font-medium text-gray-500 tracking-wider">{{horizontalStepperForm.get('step1.farmContact').value}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="col" class="font-bold   px-6 py-2 text-left text-md text-gray-500 tracking-wider">Çiftlik İle İlişkisi (YÖNETİCİ/VETERİNER/ÇALIŞAN):</th>
                                        <td class="text-start px-6 py-3 text-md font-medium text-gray-500 tracking-wider">{{horizontalStepperForm.get('step1.farmRelationship').value}}</td>
                                      </tr>
                                      

                                  </thead>
                                </table>
                              </div>
                              <div class=" sm:mt-0 mt-3">
                                <h2 class="px-6 text-l md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
                                  Çiftlik Sahibi Bilgisi
                                </h2>
                                <table class="min-w-full divide-y">
                                  <thead class="">
                                    <tr>
                                      <th scope="col" class="font-bold   px-6 py-2 text-left text-md text-gray-500 tracking-wider">İsim</th>
                                      <td class="text-start px-6 py-3 text-md font-medium text-gray-500 tracking-wider">{{horizontalStepperForm.get('step2.firstName').value}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="font-bold   px-6 py-2 text-left text-md text-gray-500 tracking-wider">Soyisim</th>
                                        <td class="text-start px-6 py-3 text-md font-medium text-gray-500 tracking-wider">{{horizontalStepperForm.get('step2.lastName').value}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="col" class="font-bold   px-6 py-2 text-left text-md text-gray-500 tracking-wider">E-Mail</th>
                                        <td class="text-start px-6 py-3 text-md font-medium text-gray-500 tracking-wider">{{horizontalStepperForm.get('step2.email').value}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="col" class="font-bold   px-6 py-2 text-left text-md text-gray-500 tracking-wider">Telefon</th>
                                        <td class="text-start px-6 py-3 text-md font-medium text-gray-500 tracking-wider">{{horizontalStepperForm.get('step2.phoneNumber').value}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="col" class="font-bold   px-6 py-2 text-left text-md text-gray-500 tracking-wider">Not</th>
                                        <td class="text-start px-6 py-3 text-md font-medium text-gray-500 tracking-wider">{{horizontalStepperForm.get('step2.note').value}}</td>
                                      </tr>
                                  </thead>
                                </table>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="w-full md:w-12/12 lg:w-12/12 p-2" *ngIf="patientDetails && patientDetails.length > 0">
                        <div class="flex flex-wrap gap-4 flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <fuse-card class="flex flex-col max-w-80 w-full p-8 pb-4 filter-article"
                                *ngFor="let patient of patientDetails">
                                <div class="flex items-center">
                                    <img class="w-20 rounded-lg object-cover" src="assets/images/avatars/noimage.jpg"
                                        alt="Card cover image">
                                    <div class="flex flex-col ml-6">
                                        <div class="text-2xl font-semibold leading-tight">Hasta Adı</div>
                                        <div class="text-secondary font-medium text-md">{{patient.name}}</div>
                                    </div>
                                </div>


                                <div class="container" style="margin-top: 1rem; padding: 0;">
                                    <div class="row">
                                        <div class="col-md-6"
                                            style="border-right: 1px solid rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)); display: flex; flex-direction: column; align-items: center; position: relative;">
                                            <div style="font-weight: 600;">
                                                Çip Numarası
                                            </div>
                                            <div
                                                style="font-weight: 500; font-size: 0.8rem; color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)) !important;">
                                                {{patient.chipNumber}}
                                            </div>
                                            <div
                                                style="content: ''; position: absolute; height: 100%; width: 1px; background-color: black; right: 0;">
                                            </div>
                                        </div>
                                        <div class="col-md-6"
                                            style="display: flex; flex-direction: column; align-items: center; justify-content: flex-end; position: relative;">
                                            <div style="font-weight: 600;">
                                                Hasta Tipi
                                            </div>
                                            <div
                                                style="font-weight: 500; font-size: 0.8rem; color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)) !important;">
                                                {{patient.animalType}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="flex flex-wrap mt-3 -mx-3" style="justify-content: space-between;">
                                    <a class="px-3" mat-button [color]="'warn'" [routerLink]="['./']"
                                        (click)="redirectToDeletePatient(patient.recId)">
                                        Sil
                                    </a>

                                    <a class="px-3" mat-button [color]="'primary'" [routerLink]="['./']"
                                        (click)="redirectToUpdatePatient(patient.recId)">
                                        Düzenle
                                    </a>
                                </div> -->
                            </fuse-card>
                        </div>
                    </div>
                    <!-- <p class="my-6 font-medium">
                        Thank you for completing our form! You can reset the form if you would like to change your
                        information.
                    </p> -->
                    
                </mat-step>
            </mat-horizontal-stepper>
        </form>
    </div>

</div>