<h1 mat-dialog-title class="mat-dialog-title" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle>
  <button class="dialog-close-button">
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </button>
  <button class="dialog-close-button" (click)="closeDialog()" [tabIndex]="-1">
    <span class="material-icons"> highlight_off </span>
  </button>
</h1>
<div class="modalForm">
  <mat-dialog-content>

    <div class="modal-header">
      <h5 class="modal-title">
        <span *ngIf="selectedaccommodation">Konaklama Güncelle</span>
        <span *ngIf="!selectedaccommodation">Konaklama Ekle</span>
      </h5>
    </div>

    <div class="modal-body mbody-accommodationrooms">

      <div class="container-fluid" [formGroup]="accommodation">

        <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'"
          (selectedIndexChange)="onTabChange($event)">

          <mat-tab label="Kayıtlı Hasta">

            <div class="row">

              <div class="flex float : left gt-md:flex-row">

                <mat-form-field class="flex-auto gt-xs:pl-3">
                  <mat-label>Müşteri</mat-label>
                  <mat-select [placeholder]="'Müşteri'" [formControlName]="'customerId'" name="customerId"
                    (selectionChange)="handleCustomerChange($event)">

                    <mat-option *ngFor="let item of customers" [value]="item.id">{{ item.firstName }}
                      {{ item.lastName }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="ml-5 flex-auto gt-xs:pl-3">
                  <mat-label>Hasta</mat-label>
                  <mat-select name="patientId" [formControlName]="'patientId'" [placeholder]="'Hasta'">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let item of patientList" [value]="item.id">{{ item.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="flex float : left gt-md:flex-row">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                  <mat-label>Odalar</mat-label>
                  <mat-select name="roomid" [formControlName]="'roomId'" [placeholder]="'Oda Bilgisi'">
                    <mat-option *ngFor="let item of rooms" [value]="item.id">{{ item.roomName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="flex-auto gt-xs:pl-3">
                  <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [formControlName]="'selectedState'">
                    <mat-radio-button class="example-radio-button" *ngFor="let state of states" [value]="state">
                      {{ state }}
                    </mat-radio-button>
                  </mat-radio-group> -->
                  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [formControlName]="'selectedState'">
                    <mat-radio-button class="example-radio-button" *ngFor="let state of states" [value]="state.key">
                      {{ state.value }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

              <!-- <div class="flex float : left gt-md:flex-row">

                <div class="dx-field">
                  <mat-label class="font-semibold text-gray-700">Giriş Tarihi</mat-label>
                  <div class="dx-field mt-1">
                    <dx-date-box [value]="now" type="datetime" [min]="now"
                      [inputAttr]="{ 'aria-label': 'Date And Time' }" (onValueChanged)="handleValueChange($event)">
                    </dx-date-box>
                  </div>
                </div>

                <div class="dx-field">
                  <mat-label class="font-semibold text-gray-700">Çıkış Tarihi</mat-label>
                  <div class="dx-field mt-1">
                    <dx-date-box [value]="now" type="datetime" [min]="now"
                      [inputAttr]="{ 'aria-label': 'Date And Time' }"
                      (onValueChanged)="handleValueCheckOutChange($event)">
                    </dx-date-box>
                  </div>
                </div>
              </div> -->

              <div *ngIf="isDateFormat === 1">
                <div class="flex float : left gt-md:flex-row">
                  <div class="flex-auto gt-xs:pl-3">
                    <mat-label class="font-semibold text-gray-700">Giriş Tarihi</mat-label>
                    <dx-date-box [value]="selectedCheckinDate" type="datetime"
                      [inputAttr]="{ 'aria-label': 'Date And Time' }" (onValueChanged)="handleValueChange($event)">
                    </dx-date-box>
                  </div>
                  <div class="ml-5  flex-auto gt-xs:pl-3">
                    <mat-label class="font-semibold text-gray-700">Çıkış Tarihi</mat-label>
                    <dx-date-box [value]="selectedCheckOutDate" type="datetime"
                      [inputAttr]="{ 'aria-label': 'Date And Time' }"
                      (onValueChanged)="handleValueCheckOutChange($event)">
                    </dx-date-box>
                  </div>
                </div>
              </div>

              <div *ngIf="isDateFormat === 0">

                <dx-date-range-box [stylingMode]="stylingMode"  
                [(value)]="currentValue" [labelMode]="labelMode" id="vacation-dates"
                  startDateLabel="Start Vacation Date" 
                  endDateLabel="End Vacation Date" (onValueChanged)="currentValueChanged($event)"></dx-date-range-box>

              </div>




            </div>

            <mat-form-field class="flex-auto gt-xs:pl-3  mt-6">
              <mat-label>Açıklama</mat-label>
              <textarea matInput [formControlName]="'remark'" name="treatmentDescription"></textarea>
            </mat-form-field>

          </mat-tab>

          <mat-tab label="Misafir" [disabled]="!isGuestTabEnabled()">

            <div class="row">

              <div class="flex float : left gt-md:flex-row">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                  <mat-label>Odalar</mat-label>
                  <mat-select name="roomId" [formControlName]="'roomId'" [placeholder]="'Odalar'">
                    <mat-option *ngFor="let item of rooms" [value]="item.id">{{ item.roomName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="flex-auto gt-xs:pl-3">
                  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [formControlName]="'selectedState'">
                    <mat-radio-button class="example-radio-button" *ngFor="let state of states" [value]="state">
                      {{ state }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>

              </div>

              <!-- <div class="flex float : left gt-md:flex-row">
                <div class="dx-field">
                  <mat-label class="font-semibold text-gray-700">Giriş Tarihi</mat-label>
                  <div class="dx-field mt-1">
                    <dx-date-box [value]="now" type="datetime" [min]="now"
                      [inputAttr]="{ 'aria-label': 'Date And Time' }" (onValueChanged)="handleValueChange($event)">
                    </dx-date-box>
                  </div>
                </div>
                <div class="dx-field">
                  <mat-label class="font-semibold text-gray-700">Çıkış Tarihi</mat-label>
                  <div class="dx-field mt-1">
                    <dx-date-box [value]="now" type="datetime" [min]="now"
                      [inputAttr]="{ 'aria-label': 'Date And Time' }"
                      (onValueChanged)="handleValueCheckOutChange($event)">
                    </dx-date-box>
                  </div>
                </div>
              </div> -->

              <div class="flex float : left gt-md:flex-row">
                <div class="flex-auto gt-xs:pl-3">
                  <mat-label class="font-semibold text-gray-700">Giriş Tarihi</mat-label>
                  <dx-date-box [value]="now" type="datetime" [min]="now" [inputAttr]="{ 'aria-label': 'Date And Time' }"
                    (onValueChanged)="handleValueChange($event)">
                  </dx-date-box>
                </div>
                <div class="ml-5  flex-auto gt-xs:pl-3">
                  <mat-label class="font-semibold text-gray-700">Çıkış Tarihi</mat-label>
                  <dx-date-box [value]="now" type="datetime" [min]="now" [inputAttr]="{ 'aria-label': 'Date And Time' }"
                    (onValueChanged)="handleValueCheckOutChange($event)">
                  </dx-date-box>
                </div>
                <!-- <dx-date-range-box
                [stylingMode]="stylingMode"
                [labelMode]="labelMode"
                id="vacation-dates"
                startDate="6/3/2023"
                startDateLabel="Start Vacation Date"
                endDate="12/3/2023"
                endDateLabel="End Vacation Date"
              ></dx-date-range-box> -->
              </div>

            </div>


            <mat-form-field class="flex-auto gt-xs:pl-3 mt-6">
              <mat-label>Açıklama</mat-label>
              <textarea matInput [formControlName]="'remark'" name="treatmentDescription"></textarea>
            </mat-form-field>





          </mat-tab>

        </mat-tab-group>


      </div>

      <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
        <div class="-ml-2">

        </div>

        <div class="flex items-center mt-4 sm:mt-0">
          <button class="ml-auto sm:ml-0 mr-2" mat-stroked-button (click)="closeDialog()">
            Vazgeç
          </button>
          <button class="order-first sm:order-last" mat-flat-button [color]="'primary'"
            (click)="addOrUpdateAccommodation()" [disabled]="buttonDisabled">
            Kaydet
          </button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>