<h1 mat-dialog-title class="mat-dialog-title">
    <button class="dialog-close-button" (click)="closeDialog()">
        <span class="material-icons"> highlight_off </span>
    </button>
</h1>

<div class="modalForm">
    <mat-dialog-content>

        <div class="modal-header">
            <h5 class="modal-title">
                <span *ngIf="selectedvaccine">Aşı Güncelle</span>
                <span *ngIf="!selectedvaccine">Aşı Ekle</span>
            </h5>
        </div>

        <div class="modal-body mbody-unitdefinition">
            <div class="qm-pr-content">
                <div class="container-fluid" [formGroup]="vaccine">
                    <div class="row">

                        <div class="float : left flex  gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Tür</mat-label>
                                <mat-select [formControlName]="'animalType'">
                                    <ng-container *ngFor="let anmimaltype of animalTypesList">
                                        <mat-option [value]="anmimaltype.type">
                                            {{anmimaltype.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="ml-5 flex-auto gt-xs:pr-3">
                                <mat-label>Aşı Adı</mat-label>
                                <input matInput [formControlName]="'vaccineName'">
                            </mat-form-field>
                        </div>

                        <div class="float : left flex  gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Doğumundan İtibaren Ne Zaman Yapılacak?</mat-label>
                                <input matInput [formControlName]="'timeDone'" type="number">
                            </mat-form-field>
                            <mat-form-field class="ml-5 flex-auto gt-xs:pr-3">
                                <mat-label>Yenileme seçeneği</mat-label>
                                <mat-select  [formControlName]="'renewalOption'">
                                    <mat-option value="1">Yenilenmesin</mat-option>
                                    <mat-option value="2">Her hafta</mat-option>
                                    <mat-option value="3">Her ay</mat-option>
                                    <mat-option value="4">Her yıl</mat-option>
                                    <mat-option value="5">2 haftada 1</mat-option>
                                    <mat-option value="6">3 haftada 1</mat-option>
                                    <mat-option value="7">10 haftada 1</mat-option>
                                    <mat-option value="8">2 ayda 1</mat-option>
                                    <mat-option value="9">3 ayda 1</mat-option>
                                    <mat-option value="10">4 ayda 1</mat-option>
                                    <mat-option value="11">6 ayda 1</mat-option>
                                    <mat-option value="12">8 ayda 1</mat-option>
                                    <mat-option value="13">2 yılda 1</mat-option>
                                    <mat-option value="14">3 yılda 1</mat-option>
                                    <mat-option value="15">4 yılda 1</mat-option>
                                    <mat-option value="16">45 günde 1</mat-option>
                                </mat-select>

                            </mat-form-field>
                            <mat-form-field class="ml-5 flex-auto gt-xs:pr-3">
                                <mat-label>Zorunluluk</mat-label>
                                <mat-select  aria-hidden="true" [formControlName]="'obligation'">
                                    <mat-option value="0">İsteğe bağlı</mat-option>
                                    <mat-option value="1">Zorunlu</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 mt-2 common-width">
                            <mat-accordion>
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Ürün / İlaç Bilgisi</mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <ng-container>
                                        <ng-container >

                                            <ng-container *ngIf="vaccineMedicine.length > 0; else noProducts">
                                                <div class="grid">
                                                    <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" rt matSortDisableClear>
                                                        <div class="hidden sm:block"  >
                                                            Ürün Adı</div>
                                                        <div class="hidden sm:block" >
                                                            Ürün Adet
                                                        </div>
                                                        <div class="hidden lg:block"  >
                                                            Satış Tutarı
                                                        </div>
                                                        <div class="hidden lg:block" >
                                                            KDV
                                                        </div>
                                                        <!-- <div class="hidden lg:block"  >
                                                            Dozlama Tipi
                                                        </div> -->
                                                        <div class="hidden lg:block"  >
                                                            Açıklama
                                                        </div>
                                                        <div class="hidden sm:block w-12">Detay</div>
                                                    </div>

                                                    <!-- <ng-container *ngIf="(vaccineMedicine) as medicine">
                                                        <ng-container
                                                            *ngFor="let medicine of medicine; trackBy: trackByFn">
                                                            <div
                                                                class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                                           
                                                                <div>
                                                                    <ng-container *ngFor="let productDescription of productdescription">
                                                                        <div class="truncate" *ngIf="productDescription.id === product.productId"> {{ productDescription.name }} </div>
                                                                    </ng-container>
                                                                    <div class="truncate text-red-500"
                                                                        *ngIf=" product.productId === '00000000-0000-0000-0000-000000000000'">
                                                                        ÜRÜN SEÇİNİZ..
                                                                    </div>
                                                                </div>
                                                                <div class="hidden sm:block">
                                                                    {{product.reserved | currency:'₺':'symbol':'1.2-2'}}
                                                                </div>

                                                                <div class="hidden lg:flex items-center">
                                                                    <div class="min-w-4">{{product.stockState}}</div>
                                                                    <div class="flex items-end ml-2 w-1 h-4 bg-red-200 rounded overflow-hidden"
                                                                        *ngIf="product.stockState < 20">
                                                                        <div class="flex w-full h-1/3 bg-red-600"></div>
                                                                    </div>
                                                                    <div class="flex items-end ml-2 w-1 h-4 bg-orange-200 rounded overflow-hidden"
                                                                        *ngIf="product.stockState >= 20 && product.stockState < 30">
                                                                        <div class="flex w-full h-2/4 bg-orange-400">
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex items-end ml-2 w-1 h-4 bg-green-100 rounded overflow-hidden"
                                                                        *ngIf="product.stockState >= 30">
                                                                        <div class="flex w-full h-full bg-green-400">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="hidden lg:block">
                                                                    <ng-container *ngIf="product.isActive === 1">
                                                                        <mat-icon class="text-green-400 icon-size-5"
                                                                            [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="product.isActive === 0">
                                                                        <mat-icon class="text-gray-400 icon-size-5"
                                                                            [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                                    </ng-container>
                                                                </div>

                                                                <div>
                                                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                                                        mat-stroked-button
                                                                        (click)="toggleDetails(product.id)">
                                                                        <mat-icon class="icon-size-5 text-gray-500"
                                                                            [svgIcon]="selectedProduct?.id === product.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <div class="grid">
                                                                <ng-container
                                                                    *ngIf="selectedProduct?.id === product.id">
                                                                    <ng-container
                                                                        *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: product}"></ng-container>
                                                                </ng-container>
                                                            </div>
                                                        </ng-container>
                                                    </ng-container> -->

                                                    <ng-container>
                                                        <ng-container *ngFor="let vaccine of vaccineMedicine; trackBy: trackByFn">
                                                            <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                                                <div>
                                                                    <ng-container *ngFor="let productDescription of productdescription">
                                                                        <div class="truncate" *ngIf="productDescription.id === vaccine.productId">
                                                                            {{ productDescription.name }}
                                                                        </div>
                                    
                                                                    </ng-container>
                                                                    <div class="truncate text-red-500"
                                                                        *ngIf=" vaccine.productId === '00000000-0000-0000-0000-000000000000'">
                                                                        ÜRÜN SEÇİNİZ..
                                                                    </div>
                                                                </div>
                                                                <!-- <div class="hidden md:block truncate">
                                                                    {{vaccine.productId}}
                                                                </div> -->
                            
                                                                <div class="truncate">
                                                                    {{vaccine.quantity}}
                                                                </div>

                                                                <div class="truncate">
                                                                    {{vaccine.salesAmount}}
                                                                </div>
                        
                                                                <!-- <div class="truncate">
                                                                    {{vaccine.taxisId}}
                                                                </div> -->

                                                                <div>
                                                                    <ng-container *ngFor="let item of taxisList">
                                                                        <div class="truncate" *ngIf="item.id === vaccine.taxisId">
                                                                            {{ item.taxRatio }}
                                                                        </div>
                                    
                                                                    </ng-container>
                                                                    
                                                                </div>
                                                                <!-- <mat-select [formControlName]="'taxisId'">
                                                                    <ng-container *ngFor="let item of taxisList">
                                                                        <mat-option [value]="item.id">
                                                                            {{item.taxRatio}}
                                                                        </mat-option>
                                                                    </ng-container>
                                                                </mat-select> -->
                                                                <!-- <div class="truncate">
                                                                    {{vaccine.dosingType}}
                                                                </div> -->
                                                                <div class="truncate">
                                                                    {{vaccine.remark}}
                                                                </div>
                        
                                                                <!-- Details button -->
                                                                <div>
                                                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                                                        (click)="toggleDetails(vaccine.id)">
                                                                        <mat-icon class="icon-size-5"
                                                                            [svgIcon]="selectedvaccineMedicine?.id === vaccine.id ? 
                                                                            'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="grid">
                                                                <ng-container *ngIf="selectedvaccineMedicine?.id === vaccine.id">
                                                                    <ng-container
                                                                        *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: vaccine}"></ng-container>
                                                                </ng-container>
                                                            </div>
                                                        </ng-container>
                                                    </ng-container>

                                                </div>

                                            </ng-container>
                                        </ng-container>
                                    </ng-container>

                                    <ng-template #rowDetailsTemplate let-patients>
                                        <div class="shadow-lg overflow-hidden">
                                            <div class="flex border-b">
                                                <form class="flex flex-col w-full" [formGroup]="vaccineMedicineForm">
                                                    <div class="flex flex-col sm:flex-row p-8">

                                                        <div class="flex flex-auto flex-wrap">
                                             
                                                            <div class="flex flex-col w-full lg:w-2/4">
                                                                <mat-form-field class="w-full">
                                                                    <mat-label>Ürün Adı</mat-label> 
                                                                    <mat-select [formControlName]="'productId'">
                                                                        <ng-container *ngFor="let item of productdescription">
                                                                            <mat-option [value]="item.id">
                                                                                {{item.name}}
                                                                            </mat-option>
                                                                        </ng-container>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                                <div class="flex">
                                                                    <mat-form-field class="w-1/3 pr-2">
                                                                        <mat-label>Ürüm Adedi</mat-label>
                                                                        <input matInput [formControlName]="'quantity'"  type="number">
                                                                    </mat-form-field>
                                                                    <mat-form-field class="w-2/3 pl-2">
                                                                        <mat-label>Satış Tutarı</mat-label>
                                                                        <input matInput [formControlName]="'salesAmount'"  type="number">
                                                                    </mat-form-field>
                                                                </div>
                                                               
                                                            </div>
                          
                                                            <div class="flex flex-col w-full lg:w-2/4 sm:pl-8"> 
                                                                <div class="flex">
                                                                    <mat-form-field class="w-1/3 pr-2">
                                                                        <mat-label>KDV</mat-label>
                                                                        <mat-select [formControlName]="'taxisId'">
                                                                            <ng-container *ngFor="let item of taxisList">
                                                                                <mat-option [value]="item.id">
                                                                                    {{item.taxRatio}}
                                                                                </mat-option>
                                                                            </ng-container>
                                                                        </mat-select>
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="flex">
                                                                    <mat-form-field class="w-1/3 pr-2">
                                                                        <mat-label>Uygulama Açıklaması</mat-label>
                                                                        <textarea matInput [formControlName]="'remark'"></textarea>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                        
                                                    </div>
                        
                                                    <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                                        <button class="-ml-4" mat-button [color]="'warn'"
                                                            (click)="deleteSelectedvaccine(selectedvaccineMedicine?.id)">
                                                            Delete
                                                        </button>
                                                        <div class="flex items-center">
                                                            <div class="flex items-center mr-4" *ngIf="flashMessage">
                                                                <ng-container *ngIf="flashMessage === 'success'">
                                                                    <mat-icon class="text-green-500"
                                                                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                                    <span class="ml-2">Product updated</span>
                                                                </ng-container>
                                                                <ng-container *ngIf="flashMessage === 'error'"> 
                                                                    <span class="ml-2">An error occurred, try again!</span>
                                                                </ng-container>
                                                            </div>
                                                        </div>
                                                    </div>
                        
                                                </form>
                                            </div>
                                        </div>
                                    </ng-template>

                                    <ng-template #noProducts>
                                        <div
                                            class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                            Veri bulunamadı.</div>
                                    </ng-template>

                                    <div class="col-sm-12 mt-2 common-width">
                                        <button mat-flat-button [color]="'primary'" class="col-12" (click)="addNewRow()">
                                            <mat-icon class="icon-size-5 mr-2"
                                                [svgIcon]="'heroicons_solid:link'"></mat-icon>
                                            Yeni Ürün & İlaç Ekle
                                        </button>
                                    </div>

                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                    </div>

                </div>
            </div>

            <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
                <div class="-ml-2">

                </div>

                <div class="flex items-center mt-4 sm:mt-0">
                    <!-- Discard -->
                    <button class="ml-auto sm:ml-0" mat-stroked-button (click)="closeDialog()">
                        Vazgeç
                    </button>
                    <!-- Save as draft -->
                    <!-- Send -->
                    <button class="order-first sm:order-last" mat-flat-button [color]="'primary'"
                        (click)="addOrUpdate()" [disabled]="buttonDisabled">
                        Kaydet
                    </button>
                </div>
            </div>
        </div>


    </mat-dialog-content>
</div>