<h1 mat-dialog-title class="mat-dialog-title" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle>
  <button class="dialog-close-button">
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </button>
  <button class="dialog-close-button" (click)="closeDialog()" [tabIndex]="-1">
    <span class="material-icons"> highlight_off </span>
  </button>
</h1>

<div class="modalForm">
  <mat-dialog-content>
    <div class="modal-header">
      <h5 class="modal-title">
        <span>Yazdır</span>
      </h5>
    </div>
    <div class="modal-body mbody-customeradd">

      <div class="w-full md:w-6/12 lg:w-6/12 p-2">
        <div class="flex flex-wrap gap-4 flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
          style="justify-content: space-between;    display: flex !important;flex-wrap: wrap !important;">

          <div class="col-6 col-md-12" *ngFor="let item of printtemplate">
            <fuse-card class="flex flex-col  w-full p-6 pb-4 filter-article">

            </fuse-card>
          </div>

        </div>
      </div>

    </div>
  </mat-dialog-content>
</div>


<div class="flex items-center mt-4 sm:mt-0 justify-end mr-7">
  <button class="ml-auto sm:ml-0" mat-stroked-button (click)="closeDialog()">
    Vazgeç
  </button>
</div>